<h3 align="left"><b>🫶 {{support_title}}</b></h3>
<div align="left">
    <a href="{{{links.paypal}}}" target="_blank">
        <img
            src="https://img.shields.io/badge/PayPal-00457C?style=badge&logo=paypal&logoColor=white"
            height="60"
            style="margin-right: 18px"
            alt="PayPal"
        />
    </a>
    <a href="{{{links.sponsors}}}" target="_blank">
        <img
            src="https://{{metadata.username}}.github.io/badges/badge_sponsors.svg"
            height="60"
            style="margin-right: 18px"
            alt="Sponsors"
        />
    </a>
</div>

<div align="center">
    <a href="#">
        <img
            src="https://capsule-render.vercel.app/api?type=waving&color=04e4e6&height=120&section=footer"
            width=100%
        />
    </a>
</div>

---

<div align="center">
    <img
        src="https://github.com/{{metadata.username}}/{{metadata.username}}/workflows/README%20build/badge.svg"
        height="28"
        style="margin-right: 18px"
        alt="Build README"
    />
    <img
        src="https://img.shields.io/github/stars/{{metadata.username}}/{{metadata.username}}?style=flat-square&labelColor=343b41"
        height="28"
        style="margin-right: 18px"
        alt="Stars"
    />
    <img
        src="https://img.shields.io/github/forks/{{metadata.username}}/{{metadata.username}}?style=flat-square&labelColor=343b41"
        height="28"
        style="margin-right: 18px"
        alt="Forks"
    />
    <img
        src="https://komarev.com/ghpvc/?username={{metadata.username}}"
        height="28"
        style="margin-right: 18px"
        alt="Profile Views"
    />
    <a href="https://wakatime.com/@{{metadata.wakatime_user_id}}">
        <img
            src="https://wakatime.com/badge/user/{{metadata.wakatime_user_id}}.svg?style=plastic"
            height="28"
            style="margin-right: 18px"
            alt="Total time coded"
        />
    </a>
</div>
