<meta name="description" content="GitHub profile — Full Stack Engineer (Cloud Infrastructure)">
<meta name="keywords" content="Full Stack Engineer, Cloud Infrastructure, GitHub Stats, GitHub Profile, TypeScript, Go, Kubernetes, Terraform"/>

<div align="center">
    <img
        src="https://capsule-render.vercel.app/api?type=waving&color=04e4e6&height=120&section=header"
        width=100%
    />
    <img
        src="https://readme-typing-svg.herokuapp.com/?color=1BF7B3&size=35&center=true&weight=700&size=40&pause=1500&&vCenter=true&width=1000&lines={{typing_lines}}"
    />
</div>
