<h3 align="left"><b>✨ {{stats_title}}</b></h3>
<div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
    <img
        src="https://github-profile-trophy.vercel.app/?username={{metadata.username}}&theme=onedark&column=-1"
        width="120%" height="auto"
        alt="GitHub trophy"
    />
</div>
<div style="display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 20px;">
<img
    src="https://streak-stats.demolab.com/?user={{metadata.username}}&theme=react&langs_count=10&layout=compact&title_color=007acc&icon_color=ff4500&text_color=ff4500&bg_color=00000000&border_radius=15&border_color=00000000&hide=jupyter%20notebook&hide_border=true&border_radius=15&date_format=M+j%5B%2C+Y%5D&mode=daily&disable_animations=false&hide_total_contributions=false&hide_current_streak=false&hide_longest_streak=false&locale=en"
    width="40%" height="auto"
    alt="GitHub streak Card"
/>
<img
    src="https://github-profile-summary-cards.vercel.app/api/cards/profile-details?username={{metadata.username}}&theme=react&langs_count=10&layout=compact&title_color=007acc&icon_color=007acc&text_color=007acc&bg_color=00000000&border_radius=15&border_color=00000000&hide=jupyter%20notebook"
    width="55%" height="auto"
    alt="GitHub profile-summary Card"
/>
</div>
